<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded shadow-lg w-full max-w-md">
    <h2 class="text-xl font-semibold mb-4">{{ title }}</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-4">
        <label class="block text-gray-700">Propiedad:</label>
        <input formControlName="name" class="w-full border px-3 py-2 rounded" />
      </div>

      <div class="mb-4">
        <label class="block text-gray-700">Descripción:</label>
        <textarea formControlName="description" class="w-full border px-3 py-2 rounded"></textarea>
      </div>

      <div class="flex justify-end">
        <button type="button" (click)="closeModal()" class="bg-gray-400 text-white px-4 py-2 rounded mr-2">
          Cancelar
        </button>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
          {{ title.includes('Editar') ? 'Guardar cambios' : 'Crear' }}
        </button>
      </div>
    </form>
  </div>
</div>
