<div class="flex flex-col lg:flex-row justify-center items-start gap-6 w-full px-8 mt-10">

    <!-- Tarjeta donut: SESIONES -->
    <div class="bg-white rounded-2xl shadow-lg p-6 w-full lg:w-[35%] h-[440px] flex flex-col">
      <h2 class="text-center text-black font-bold text-2xl mb-6">Sesiones por proyecto (mes)</h2>
      <div class="flex-grow flex justify-center items-center">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [labels]="chartOptions.labels!"
          [responsive]="chartOptions.responsive!">
        </apx-chart>
      </div>
    </div>
  
    <!-- Tarjeta barras: HORAS -->
    <div class="bg-white rounded-2xl shadow-lg p-6 w-full lg:w-[65%] h-[440px] flex flex-col">
      <h2 class="text-center text-black font-bold text-2xl mb-6">Horas por proyecto (mes)</h2>
      <div class="flex-grow flex justify-center items-center">
        <apx-chart
          [series]="barChart.series"
          [chart]="barChart.chart"
          [plotOptions]="barChart.plotOptions"
          [colors]="barChart.colors"
          [dataLabels]="barChart.dataLabels"
          [stroke]="barChart.stroke"
          [xaxis]="barChart.xaxis"
          [yaxis]="barChart.yaxis"
          [tooltip]="barChart.tooltip">
        </apx-chart>
      </div>
    </div>
  
  </div>
  