<div class="w-full h-full">
  <!-- Tabla de proyectos -->
  <app-table-container
    [title]="'Tabla Proyectos'"
    [actionText]="'Añadir Nuevo'"
    [headers]="headers"
    [data]="projects"
    (actionClick)="openModal()"
  ></app-table-container>

  <app-project-modal
    *ngIf="isModalOpen"
    [title]="selectedProject ? 'Editar Proyecto' : 'Añadir Nuevo Proyecto'"
    [projectData]="selectedProject"
    (close)="closeModal()"
    (save)="createOrUpdateProject($event)">
  </app-project-modal>

</div>
